<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Absence calculator</title>

  <link href="https://fonts.googleapis.com/css?family=Cardo:400,400i,700" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
</head>
<body>

  <div class="container" id="app">
    <h1>Immigration absences calculator</h1>

    <div class="instructions">
      <ol>
        <li>Enter the start date of the five-year period for which you want to perform calculations. The end date will be calculated for you</li>
        <li>Enter the dates of all absences from the UK within that five-year period</li>
        <li>Any 12-month periods that have more than the allowed 180 days’ absences in them will be highlighted for you in red</li>
      </ol>
    </div>

    <h2>Five-year period</h2>
    <p>Period start date: <input type="text" id="period_start" v-model="period.start" v-on:input="calculate_years" require pattern="^\d{4}-\d{2}-\d{2}$"></p>
    <p>Period end date: {{ period.end }}</p>

    <p>One-year periods:
    <ul id="years">
      <li v-for="year in years">
        {{ year.start.format("YYYY-MM-DD") }} - {{ year.end.format("YYYY-MM-DD") }}
      </li>
    </ul>

    <ul id="absences">
      <li v-for="absence in absences">
        {{ absence.start }} - {{ absence.end }}
      </li>
    </ul>

    <h2>Twelve-month periods</h2>
    <p>The given five-year period contains the following twelve-month periods, as defined by the immigration rules:</p>
    <ul id="years">
      <li v-for="year in years">
        {{ year.start.format("YYYY-MM-DD") }} - {{ year.end.format("YYYY-MM-DD") }}
      </li>
    </ul>

    <p class="total_absent_days">Total absent days: <span>{{ total_absent_days }}</span></p>
  </div>

  <script src="vendor/vue.min.js"></script>
  <script src="vendor/moment.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
